* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background-color: #e99e9e;
    color: #333;
}


.header {
    background-color: #f0c0c0;
    color: black;
    text-align: center;
    padding: 20px;
}


.container {
    padding: 20px;
}


.profile {
    display: flex;
    align-items: center;
    gap: 20px;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f7f7f7;
}

@media (max-width: 600px) {
    .profile {
        flex-direction: column;
        text-align: center;
    }
}
